/* body{
    margin: 0;
    padding: 0;
    background-color: rgb(92, 4, 92);
    font-family: poppins;
    font-size: 16px;
   color:aliceblue;
} */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: rgb(92, 4, 92);
    display: flex;
    flex-direction: column;
  }
html{
    scroll-behavior: smooth;
}
#Overlay {
    position: relative;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(218, 208, 208);
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 0.1;
}

.content {
    z-index: 1; 
    text-align: center;
}

.black-section {
    flex: 1;
    background: #1b1b1bef; 
    display: flex;
    justify-content: center;
    align-items: center;
}
