*{
    box-sizing: border-box;
}
.search-form input[type=text]{
    padding:10px;
    font-size: 17px;
    border: 1px solid gray;
    float: left;
    width: 30%; 
    background: #f1f1f1; 
}
.search-form button {
    float: left;
    width: 20%;
    padding:10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;

}
.search-form button:hover{
    background: #0b7dda;
}
.search-form::after {
    content: "";
    clear: both;
    display: table;
  }